.notification {
	position: absolute top left;

}

.navbar {
	position: sticky;
}

.head-background {
	background: black;
	height: 10rem;
}

#navbar_logo {
	height: 4rem;
}

.text1 {
	color: #F27405;
	font-family: Garamond, Georgia, serif;
	font-weight: bold;
	font-size: 3rem;
	/*display: flex;*/
	text-align: center;
}

.text2 {
	color: white;
	background: black;
	font-weight: bold;
	font-size: 2rem;
	font-family:  Arial, Helvetica, sans-serif;
}

.navbar-item img {
	max-height: initial;
}